<h1> <%= @application.name %></h1>
 <p> Applicant address: <%= @application.address %></p>
 <p>Applicant city: <%= @application.city %></p>
 <p>Applicant state: <%= @application.state %></p>
 <p>Applicant zipcode: <%= @application.zipcode %></p>
 <p>Applicant description: <%= @application.description %></p>
 <p>Application status: <%= @application.status %></p>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
   <%= f.label :search, "Add a Pet to this Application" %>
   <%= f.text_field :search %>
   <%= f.submit "Submit" %>
 <% end %>

 <% if @searched_pets %>
 <% @searched_pets.each do |pet| %>
 <p> <%= pet.name %>
 <%= link_to "Adopt this Pet", url: "/applications/#{@application.id}", params: {pet: pet.id}, method: :get, local: true %></p>
 <p><%= pet.breed %></p>
 <p><%= pet.age %></p>
 <% end %>
 <% end %>

  <p>Pets Applied For:
  <% @applied_pets.each do |pet| %>
  <%= pet.name %> </p>
  <% end %>
