<h1> <%= @application.name %></h1>
 <p> Applicant Address: <%= @application.address %></p>
 <p>Applicant City: <%= @application.city %></p>
 <p>Applicant State: <%= @application.state %></p>
 <p>Applicant Zipcode: <%= @application.zipcode %></p>
 <p>Applicant Description: <%= @application.description %></p>
 <p>Application Status: <%= @application.status %></p>

 <br><p>Pets Applied for:</p>
 <p><% @application.pets.each do |pet| %></p>
 <%= pet.name %>

 <% if PetApplication.pet_app_find(@application.id, pet.id).status == "open" && pet.adoptable == true %>

<%= form_with url: "/admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
<%= form.hidden_field :pet_status, value: "Approved" %>
<%= form.hidden_field :pet_id, value: "#{pet.id}" %>
<%= form.submit "Approve this Pet" %>
<% end %>

<%= form_with url: "/admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
<%= form.hidden_field :pet_status, value: "Rejected" %>
<%= form.hidden_field :pet_id, value: "#{pet.id}" %>
<%= form.submit "Reject this Pet" %>
<% end %>

<% else %>
<p>This pet has been adopted!</p>
<% end %>


<% if PetApplication.pet_app_find(@application.id, pet.id).status == "Approved" %>
<p><strong>Approved</strong></p>
<% elsif PetApplication.pet_app_find(@application.id, pet.id).status == "Rejected" %>
<p><strong>Rejected</strong></p>
<% end %>
<% end %>
